{config_load file="$language/lang_$language.conf" section="address_book"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="address_book"}
<h1>{#heading_address#}</h1>

{if $error_message}<div class="errormessage">{$error_message}</div>{/if}
{if $success_message}<div class="infomessage">{$success_message}</div>{/if}

<div class="highlightbox">
  <h4>{#title_addresses#}</h4>
  <p>{#text_standard#}</p>
  <p>{$ADDRESS_COUNT}</p>
  <ol id="address_block_new">
    {foreach name=aussen item=addresses from=$addresses_data}
      <li{if $addresses.PRIMARY == '1'} class="selected"{/if}>
        <div class="address_inner">
          <label>
            <span class="header">
              <span class="title">{$addresses.NAME} {if $addresses.PRIMARY == '1'} ({#title_standard#}){/if}</span>
              <span class="actions">
                <span class="icon">{$addresses.BUTTON_DELETE}</span>
                <span class="icon">{$addresses.BUTTON_EDIT}</span>
              </span>
            </span>
            <span class="content">{$addresses.ADDRESS|replace:"<br />":", "}</span>
          </label>
        </div>
      </li>
    {/foreach}
  </ol>
</div>

<div class="button_left cf"><div class="cssButtonPos4">{$BUTTON_BACK}</div></div>
<div class="button_right cf"><div class="cssButtonPos4">{$BUTTON_NEW}</div></div>
  