{config_load file="$language/lang_$language.conf" section="boxes"}
{config_load file="lang_`$language`.custom"}
<div class="content_box">
  <div class="content_box_header">{#footer_heading_payment#}</div>
  <div class="content_box_payment cf">
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_paypal.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_mastercard.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_visa.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_amex.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_sepa.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_invoice_{$language}.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_klarna.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_moneyorder_{$language}.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_nachnahme.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_easycredit.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_sofort.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_cash_{$language}.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_giropay.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_payone.png" alt=""></span>
    <span><img class="lazyload" data-src="{$tpl_path}img/payment_icons/payment_icon_paypal_sofort.png" alt=""></span>

  </div>

  <br />
  <div class="content_box_header">{#footer_heading_social#}</div>
  <div class="content_box_social">
    <a href="#" target="_blank" rel="noopener" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
    <a href="#" target="_blank" rel="noopener" title="Twitter"><i class="fa-brands fa-twitter"></i></a>
    <a href="#" target="_blank" rel="noopener" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="#" target="_blank" rel="noopener" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
    <a href="#" target="_blank" rel="noopener" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
    <a href="#" target="_blank" rel="noopener" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a>
  </div>

</div>
