{config_load file="$language/lang_$language.conf" section="account_password"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="account_password"}
<div class="account_password">

  <h1>{#heading_password#}</h1>

  <div class="flex_account_row">

    <div class="flex_account_col_1">
      {if isset($smarty.session.customer_id)}
        {include file="module/account_navigation.html"}
      {else}
        <div class="contentbox">
          <div class="subline">{#text_note#}</div>
          <p>{#text_account_new_password_info#}</p>
        </div>
      {/if}
    </div>

    <div class="flex_account_col_2">
      {if $error_message}<div class="errormessage my_0">{$error_message}</div>{/if}

      {$FORM_ACTION}
      <div class="contentbox">
        <div class="subline">{#text_account_info#} <span class="fields_required">({#text_must#})</span></div>
        <p class="mb_20">{#text_password_policy#|sprintf:$smarty.const.ENTRY_PASSWORD_MIN_LENGTH}</p>

        {if isset($INPUT_ACTUAL)}
          <div class="field_item_1">
            <label>
              <span class="field_text">{#text_actual#}</span>{$INPUT_ACTUAL|asterisk}
              <span class="field_eye"><i class="fa-solid fa-eye" data-name="password_current"></i></span>
            </label>
          </div>
        {/if}
        <div class="field_item_1">
          <label>
            <span class="field_text">{#text_new#}</span>{$INPUT_NEW|asterisk}
            <span class="field_eye"><i class="fa-solid fa-eye" data-name="password_new"></i></span>
          </label>
        </div>
        
        <div class="field_item_1">
          <label>
            <span class="field_text">{#text_confirm#}</span>{$INPUT_CONFIRM|asterisk}
            <span class="field_eye"><i class="fa-solid fa-eye" data-name="password_confirmation"></i></span>
          </label>
        </div>
      </div>

      <div class="button_row">
{*
        <div class="br_left">
          <div class="br_btn_1">{$BUTTON_BACK}</div>
        </div>
*}
        <div class="br_right">
          <div class="br_btn_1">{$BUTTON_SUBMIT_UPDATE}</div>
        </div>
      </div>

      {$FORM_END}
      
    </div>      
  </div>
</div>
