{config_load file="$language/lang_$language.conf" section="gv_send"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="gv_send"}
<div class="gv_send">
  <h1>{#heading_gvsend#}</h1>
  
  {if $action == 'process'}

    <br />
    <div class="button_row">
      <div class="br_right">
        <div class="br_btn_1">{$LINK_DEFAULT}</div>
      </div>
    </div> 

  {elseif $action == 'send'}

    {$FORM_ACTION}
      <p>{$MAIN_MESSAGE}</p>
      {if $POST_MESSAGE != ''}
        <p>{$PERSONAL_MESSAGE}</p>
        <p>{$POST_MESSAGE}</p>
      {/if}

      {$HIDDEN_FIELDS}
      <div class="button_row">
        <div class="br_left">
          <div class="br_btn_1">{$LINK_BACK}</div>
        </div>
        <div class="br_right">
          <div class="br_btn_1">{$LINK_SUBMIT}</div>
        </div>
      </div>    
    {$FORM_END}

  {elseif $action == ''}

    {if $error_message}<div class="errormessage">{$error_message}</div>{/if}

    <p>{#heading_text#}&nbsp;{$GV_FAQ_LINK}</p>
    {$FORM_ACTION}
      <div class="flex_column_row">
        <div class="flex_2column_item"> 
          <div class="contentbox">    
            <div class="field_item_1"><label><span class="field_text">{#entry_name#}</span>{$INPUT_TO_NAME}<label></div>
            <div class="field_item_1"><label><span class="field_text">{#entry_email#}</span>{$INPUT_EMAIL}<span class="inputRequirement">{$smarty.const.TEXT_ICON_ASTERISK}</span><label></div>
            <div class="field_item_1"><label><span class="field_text">{#entry_amount#}</span>{$INPUT_AMOUNT}<span class="inputRequirement">{$smarty.const.TEXT_ICON_ASTERISK}</span><label></div>
          </div>
        </div>
        <div class="flex_2column_item">
          <div class="contentbox cf">
            <div class="field_item_1"><label><span class="field_text">{#entry_message#}</span>{$TEXTAREA_MESSAGE}<label></div>
          </div>
        </div>
      </div> 

      <div class="button_row">
        <div class="br_right">
          <div class="br_btn_1">{$LINK_SUBMIT}</div>
        </div>
      </div>

    {$FORM_END}

  {/if}
</div>
