{config_load file="$language/lang_$language.conf" section="new_password"}
{config_load file="lang_`$language`.custom"}
{config_load file="lang_`$language`.section" section="new_password"}
<div class="password_double_opt_in">

  <h1>{$message}</h1>

  {if $error_message}<div class="errormessage">{$error_message}</div>{/if}
  {if $success_message}<div class="infomessage">{$success_message}</div>{/if}

  {$FORM_ACTION}
  <div class="flex_column_row reverse">
 
    <div class="flex_2column_item">
      <div class="contentbox">
        <div class="subline">{#heading_personal#}&nbsp; <span class="fields_required">({#text_must#})</span></div>
  
        <div class="field_item_1">
          <label><span class="field_text">{#text_email#}</span>{$INPUT_EMAIL|replace:"type=\"text\"":"type=\"email\""}<span class="inputRequirement">{$smarty.const.TEXT_ICON_ASTERISK}</span></label>
        </div>
  
        {if $VVIMG}
          <div class="field_item_1 vvcode_img">
            <span class="field_text">{#text_sec_code#}</span>{$VVIMG}
          </div>
        {/if}
  
        {if $INPUT_CODE}
          <div class="field_item_1 vvcode_sec">
            <label><span class="field_text">{#text_sec_code#}</span>{$INPUT_CODE}<span class="inputRequirement">{$smarty.const.TEXT_ICON_ASTERISK}</span></label>
          </div>
        {/if}

        <p class="font_small">{#text_continue#}</p>
  
        <div class="button_row">
          <div class="br_left">
            <div class="br_btn_1">{$BUTTON_SEND}</div>
          </div>
        </div>

      </div>
    </div>
  
    <div class="flex_2column_item">
      <div class="contentbox">
        <div class="subline">{#text_note#}</div>
        <p><strong>{#text_step1#}</strong><br />{#text_info_pre#} {$SHOP_NAME} {#text_info_post#}</p>
      </div>
    </div> 
  
  </div>
  
  {$FORM_END}
</div>
