{if isset($module_content)}
  {config_load file="$language/lang_$language.conf" section="upcoming_products"} 
  {config_load file="lang_`$language`.custom"}
  {config_load file="lang_`$language`.section" section="boxes"}
  {config_load file="lang_`$language`.section" section="upcoming_products"}
  <div class="upcoming_products my_50">

    <div class="box_products_head">
      <div class="title">{#heading_upcoming#}</div>
    </div>

    <div class="splide splide_size1" aria-label="{#heading_upcoming#}">
      <div class="splide__track">
		    <div class="splide__list">
          {include file="module/includes/products_include_listing.html"}
		    </div>
      </div>
    </div> 

  </div>
{/if}